/* importaciones de archivos css */
@import url(../../partials/reset.css);
@import url(home.css);
@import url(navBar.css);
@import url(filter.css);
@import url(forms.css);


body{
    display: flex;
    background-image: url(../../assets/fondo_principal.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    color: white;
}

.container {
    width: 85%;
    height: 100vh;
    padding: 30px 20px;
    position: relative;
}

.container #inicio .ubicacion{
    display: block;
}

.navbar{
    width: 15%;
    background-color:#31313194;
}

.tabla{
    width: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.122);
    background-color: rgba(0, 0, 0, 0.435);

}

.tabla thead tr th{
    border-bottom: 1px solid blue;
    padding: .5rem 0;
}
.tabla thead tr #telefono{
    width: 10rem;
}

.tabla tbody tr td{
    border-bottom: 1px solid rgba(0, 0, 0, 0.122);
}
.tabla tbody tr td{
    padding: 1rem;
    text-align: center;

}