/* importaciones de archivos css */
@import url(../../partials/reset.css);
@import url(home.css);
@import url(navBar.css);


body{
    display: flex;
    background-image: url(../../assets/fondo_principal.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    color: white;
}

.container {
    width: 85%;
    padding: 30px 20px;

}


.container .active{
    display: block;
}

.container #inicio .ubicacion{
    display: block;
}

.navbar{
    width: 15%;
    background-color:#31313194;
}