.navbar{
    display: flex;
    align-items:center;
    flex-direction: column;
    padding: 30px 0;
}

.navbar .logo {
    margin-bottom: 100px;
    display: flex;
    align-items: center;
}

.logo img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.logo span{
    color: white;
}

.link .cards{
    margin: 2rem 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}


.cards a{
    transition: color .3s ease-in;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.exit a{
    color: red;
}
.cards i{
    font-size: 30px;
    margin-right: 5px;
}

.cards:not(.exit):hover a{
    color: #6038FF;
}
